/.idea/aws.xml
/out/production/StudentCourses/model/Course.class
/.idea/misc.xml
/.idea/modules.xml
/out/production/StudentCourses/registration/RegisterNewStudent.class
/.idea/runConfigurations.xml
/out/production/StudentCourses/model/Student.class
/StudentCourses.iml
